## .NET
bin/
obj/
*.user
*.suo
.vs/
*.cache
*.dll
*.exe
*.pdb

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## Visual Studio
.vs/
*.suo
*.user

## NuGet
*.nupkg
packages/
project.lock.json
artifacts/
